@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: url("../public/bg-grid.svg");
  font-family: poppins ,Arial, Helvetica, sans-serif;
}
