@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: url("../public/bg-grid.svg");
  font-family: poppins ,Arial, Helvetica, sans-serif;
}

.about{
  background: url("https://placehold.co/800x800/webp");
}

.hero{
  background-image: url("../public/bg-grid-yellow.svg");
}

.heroClip{
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 22.67%, 2.00% 24.50%, 4.00% 26.41%, 6.00% 28.38%, 8.00% 30.41%, 10.00% 32.50%, 12.00% 34.64%, 14.00% 36.83%, 16.00% 39.05%, 18.00% 41.31%, 20.00% 43.60%, 22.00% 45.91%, 24.00% 48.24%, 26.00% 50.58%, 28.00% 52.93%, 30.00% 55.27%, 32.00% 57.61%, 34.00% 59.93%, 36.00% 62.24%, 38.00% 64.52%, 40.00% 66.78%, 42.00% 68.99%, 44.00% 71.17%, 46.00% 73.30%, 48.00% 75.38%, 50.00% 77.40%, 52.00% 79.35%, 54.00% 81.24%, 56.00% 83.06%, 58.00% 84.80%, 60.00% 86.46%, 62.00% 88.04%, 64.00% 89.52%, 66.00% 90.91%, 68.00% 92.21%, 70.00% 93.40%, 72.00% 94.50%, 74.00% 95.48%, 76.00% 96.36%, 78.00% 97.13%, 80.00% 97.79%, 82.00% 98.33%, 84.00% 98.75%, 86.00% 99.06%, 88.00% 99.26%, 90.00% 99.33%, 92.00% 99.29%, 94.00% 99.13%, 96.00% 98.85%, 98.00% 98.46%, 100.00% 97.95%);
  background-image: url("https://placehold.co/800x400");
}